WindowsPhone Part/SmartAttendanceSystem/Service References/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smartattendancesystem.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usertype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgetPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renewpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBasicInformationResult" nillable="true" type="q1:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfoLec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LecEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfoLecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBasicInfoLecResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfoStu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfoStuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBasicInfoStuResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentCourseListResult" nillable="true" type="q4:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentClassListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentClassListResult" nillable="true" type="q5:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentMovementResult" nillable="true" type="q6:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSummaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LecEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLecCourseListResult" nillable="true" type="q7:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerClassListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLecturerClassListResult" nillable="true" type="q8:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecStudentAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecStudentAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLecStudentAttendanceResult" nillable="true" type="q9:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassStatisticInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassStatisticInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClassStatisticInfoResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LecGetStudentMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LecGetStudentMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LecGetStudentMovementResult" nillable="true" type="q11:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummary2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatricNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeachingYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummary2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSummary2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GreetingMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>